.imagen-servicios {
    height: 200px;
    width: auto;
}

.form-cont {
    h3 {
    display: flex;
    }
}

.cajitas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.catering-caja,
.delivery-caja {
    width: 35%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .cajitas {
        flex-direction: column;
        align-items: center; 
    }

    .catering-caja,
    .delivery-caja {
        width: 80%; 
    }
}

.link-contacto {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: #c2820c;
        transform: scale(1.5);
        transition: all 0.3s ease;
        text-decoration: underline;
    }
}